<select class="form-select" id="invoice-search-by">
    <option value="InvoiceCode">Search by Invoice Code</option>
    <option value="FullName">Search by Customer Name</option>
    <option value="Phone">Search by Customer Numberphone</option>
    <option value="ShippingAddress">Search by Customer Address</option>
</select>