<select class="form-select" id="invoice-search-by">
    <option value="InvoiceCode">Search by Invoice Code</option>
    <option value="">Search by Customer Name</option>
    <option value="">Search by Customer Numberphone</option>
    <option value="">Search by Customer Address</option>
</select>