<select class="form-select" id="invoice-search-by">
    <option value="">Searh by Invoice Code</option>
    <option value="">Searh by Customer Name</option>
    <option value="">Searh by Customer Numberphone</option>
    <option value="">Searh by Customer Address</option>
</select>