<h4 class="font-weight-bolder text-center">Add Categories</h4>
<form id="form-modal" role="form">
    <div class="row justify-content-center">
        <div class="col-5 ">

            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="input-name">
            </div>
            <div class="input-group input-group-outline mb-3">
                <select class="form-select" aria-label="Default select example" id="input-special">
                    <option selected="selected">Select special</option>
                    <option value="1">Quần áo</option>
                    <option value="2">Thiết bị điện tử</option>
                </select>
            </div>
            <div class="text-left">
                <a href="#" class="btn btn-primary" id="btnSubmit">Add</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();

                var name = $('#input-name').val();
                var special = $('#input-special').val();

                var requestModel = { categoryName: name, special: special };

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestModel),
                    url: "https://localhost:44302/api/categories",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (result) {
                        alert("Something when wrong");
                    }
                });
            });
        });

    </script>
}