@model DatabaseAccessor.Model.ShopCategory
@{ 
    ViewData["Title"] = "ABC";
}
@*---------------------------------------------------------------------------*@
@*anh Gấu muốn test giao diện add thì thêm trên cái localhost /category/add
    còn cái giao diện đẻ load category ra là /category/index*@
@*---------------------------------------------------------------------------*@

<h4 class="font-weight-bolder text-center">Add Categories</h4>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
<form id="form-modal" role="form">
    <div class="row justify-content-center">
        <div class="col-5 ">

            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="name">
            </div>

            <div class="input-group input-group-outline mb-3">
                <label class="form-label">ShopId</label>
                <input type="number" class="form-control" id="shopId">
            </div>
            <div class="input-group input-group-outline mb-3">
                <select class="form-select" aria-label="Default select example" id="special">
                    <option selected="selected">Select special</option>
                    <option value="1">Quần áo</option>
                    <option value="2">Thiết bị điện tử</option>
                </select>
            </div>
            <div class="text-left">
                <a href="#" class="btn btn-primary" id="btnSubmit">Add</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();

                var name = $('#name').val();
                var shopId = $('#shopId').val();
                var special = $('#special').val();

                var category = new Object();
                category.categoryName = name;
                category.shopId = shopId;
                category.special = special;

                console.log(special);

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(category),
                    url: "https://localhost:44302/api/categories",
                    success: function (data) {
                        alert("category name" + data);
                    },
                    error: function (result) {
                        alert("Something when wrong");
                    }
                });
            });
        });

    </script>
}