<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Add</button>
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Categories table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0"></div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination"></ul>
</nav>
@section Scripts {
    <script>
        $(document).ready(() => {
            loadCategories(getCurrentPage());
            let classNames = ['active', 'bg-gradient-primary'];
            $('#nav-item-category').addClass(classNames);
            $('a[name=btn-delete]').click(function () {
                let id = $(this).parent().parent().children('#cate-id').text();
                $.ajax('https://localhost:44302/api/categories', {
                    method: 'DELETE',
                    data: { categoryId: id },
                    success: (res) => {
                        if (res.responseCode != 200) {
                            toastr.error(`Failed to delete category with id = ${id}, ${res.errorMessage}!`, 'Error');
                        } else {
                            toastr.success(`Deleted category with id = ${id}`, 'Success');
                        }
                    }
                });
            });
        });
        function loadCategories(pageNumber) {
            $.get('https://localhost:44302/api/categories', { pageNumber: pageNumber }, (res) => {
                var paginationResult = res.data;
                var categories = paginationResult.data;
                var tableHtml = '';
                var paginationHtml = '';
                if (categories.length == 0) {
                    tableHtml = '<p style="text-align: center">There is no category to show!</p>'
                } else {
                    var dataRowHtml = '';
                    if (pageNumber != 1)
                        paginationHtml += `<li class="page-item" id="previous-page"><a class="page-link" href="#" style="font-weight: bold"><</a></li>`;
                    for (var i = 1; i <= paginationResult.maxPageNumber; i++) {
                        paginationHtml += `<li class="page-item ${i == pageNumber ? 'active bg-gradient-primary' : ''}"><a class="page-link" href="#" style="font-weight: bold">${i}</a></li>`;
                    }
                    if (pageNumber != paginationResult.maxPageNumber)
                        paginationHtml += `<li class="page-item" id="next-page"><a class="page-link" href="#" style="font-weight: bold">></a></li>`;
                    categories.forEach((category, index) => {
                        dataRowHtml += `<tr>
                                            <td style="display: none" id="cate-id">${category.id}</td>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center"">
                                                        <p class="mb-0 text-sm">${index}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-success">${category.id}</span>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0" style="font-size: 50px;">${category.categoryName}</p>
                                            </td>
                                            <td class="align-middle text-center">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </td>
                                            <td class="align-middle">
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                                    data-original-title="Edit">
                                                    Edit &ensp;
                                                </a>
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                                    data-original-title="Delete" name="btn-delete">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>`;
                    });
                    tableHtml = `<table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                style="width: 70px;">
                                                #
                                            </th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Category name
                                            </th>
                                            <th
                                                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                    Special
                                            </th>
                                            <th class="text-secondary opacity-7">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        ${dataRowHtml}
                                    </tbody>
                                </table>`;
                }
                $('.table-responsive.p-0').html(tableHtml);
                $('.pagination').html(paginationHtml);
            });
        }

        function moveCurrentPage(isPrevious) {
            var jumpStep = isPrevious ? -1 : 1;
            var currentPageNumber = getCurrentPage();
            window.location.href = `https://localhost:44349/category?pageNumber=${currentPageNumber + jumpStep}`;
        }

        function getCurrentPage() {
            var url = new URL(window.location.href);
            var queryObj = url.searchParams;
            var currentPageNumber = queryObj.get('pageNumber') ? parseInt(queryObj.get('pageNumber')) : 1;
            return currentPageNumber;
        }

    </script>
}