<style>
    .pagesize {
        position: absolute;
        display: inline-flex;
        margin-top: -10px;
        right: 25%
    }
</style>
<div class="pagesize">
    <p style="margin-bottom: 0; width:150px; margin-top: 20px">Page size:</p>
    <select class="form-control" style="border: 1px solid #000; padding: 5px 0 5px 10px; margin-top: 15px;">
        <option value="">5 items</option>
        <option value="all">10 items</option>
        <option value="selected">15 items</option>
    </select>
</div>
<div class="row">
    <div class="col-12">
        <a href="/category/add" class="btn btn-primary">Add</a>
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Categories table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0"></div>
            </div>
        </div>
    </div>
</div>
<div class="pagination"></div>
@section Scripts {
    <script>
        $(document).ready(() => {
            var currentPageInfo = getCurrentPageInfo();
            loadCategories(currentPageInfo.pageNumber, currentPageInfo.pageSize);
            let classNames = ['active', 'bg-gradient-primary'];
            $('#nav-item-category').addClass(classNames);
        });
        function loadCategories(pageNumber, pageSize) {
            $.get('https://localhost:44302/api/categories', { pageNumber: pageNumber, pageSize: pageSize || 5 }, (res) => {
                var paginationResult = res.data;
                var categories = paginationResult.data;
                var tableHtml = '';
                var paginationHtml = '';
                if (categories.length == 0) {
                    tableHtml = '<p style="text-align: center">There is no category to show!</p>'
                } else {
                    var dataRowHtml = '';
                    if (pageNumber != 1)
                        paginationHtml += '<a href="#" id="previous-page">«</a>';
                    for (var i = 1; i <= paginationResult.maxPageNumber; i++) {
                        if (i == pageNumber)
                            paginationHtml += `<a class="active">${i}</a>`;
                        else
                            paginationHtml += `<a class="pagination-item">${i}</a>`;
                    }
                    if (pageNumber != paginationResult.maxPageNumber)
                        paginationHtml += '<a href="#" id="next-page">»</a>';
                    categories.forEach((category, index) => {
                        dataRowHtml += `<tr>
                                                    <td style="display: none" id="cate-id">${category.id}</td>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center"">
                                                                <p class="mb-0 text-sm">${index + 1}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-center text-sm">
                                                        <span class="badge badge-sm bg-gradient-success">${category.id}</span>
                                                    </td>
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0" style="font-size: 50px;">${category.categoryName}</p>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <input type="checkbox" checked="checked">
                                                        <span class="checkmark"></span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <a href="#" class="text-secondary font-weight-bold text-xs"
                                                            data-toggle="tooltip" data-original-title="Edit user" style="margin-right: 24px">
                                                                <i class="far fa-edit"></i><span> Edit</span>
                                                        </a>
                                                        <a href="#" class="text-secondary font-weight-bold text-xs"
                                                            data - toggle="tooltip" data - original - title="Delete user" name = "btn-delete">
                                                                <i class="far fa-trash-alt"></i><span> Delete</span>
                                                        </a>
                                                    </td>
                                                </tr>`;
                    });
                    tableHtml = `<table class="table align-items-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        style="width: 70px;">
                                                        #
                                                    </th>
                                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Category name
                                                    </th>
                                                    <th
                                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Special
                                                    </th>
                                                    <th class="text-secondary opacity-7">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                ${dataRowHtml}
                                            </tbody>
                                        </table>`;
                }
                $('.table-responsive.p-0').html(tableHtml);
                $('.pagination').html(paginationHtml);
                $('a[name=btn-delete]').click(function () {
                    let id = $(this).parent().parent().children('#cate-id').text();
                    $.ajax('https://localhost:44302/api/categories', {
                        method: 'DELETE',
                        contentType: 'application/json',
                        data: JSON.stringify(id),
                        success: (res) => {
                            if (res.responseCode != 200) {
                                toastr.error(`Failed to delete category with id = ${id}, ${res.errorMessage}!`, 'Error');
                            } else {
                                toastr.success(`Deleted category with id = ${id}`, 'Success');
                            }
                        }
                    });
                });

                $('#previous-page').click(() => {
                    var currentPageInfo = getCurrentPageInfo();
                    moveToPage(currentPageInfo.pageNumber - 1, currentPageInfo.pageSize);
                });
                $('#next-page').click(() => {
                    var currentPageInfo = getCurrentPageInfo();
                    moveToPage(currentPageInfo.pageNumber + 1, currentPageInfo.pageSize);
                });
                $('a.pagination-item').click(function () {
                    var pageNumber = $(this).text();
                    moveToPage(pageNumber, getCurrentPageInfo().pageSize);
                });
            });
        }

        function moveToPage(pageNumber, pageSize) {
            window.location.href = `https://localhost:44349/category?pageNumber=${pageNumber}&pageSize=${pageSize}`;
        }

        function getCurrentPageInfo() {
            var url = new URL(window.location.href);
            var queryObj = url.searchParams;
            var currentPageNumber = queryObj.get('pageNumber') ? parseInt(queryObj.get('pageNumber')) : 1;
            var currentPageSize = queryObj.get('pageSize') ? parseInt(queryObj.get('pageSize')) : 5;
            return { pageNumber: currentPageNumber, pageSize: currentPageSize };
        }

    </script>
}
