﻿<h4 class="font-weight-bolder text-center">Add Product</h4>
<hr />
<form role="form" id="product-form">
    <div class="row justify-content-center">
        <div class="col-5 ">
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="input-name" name="input-name">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Category</label>
                <select class="form-select" aria-label="Default select example" id="input-category" name="input-category">
                    <option selected="selected">Select category</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="input-description" name="input-description">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control" id="input-quantity" name="input-quantity">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" id="input-price" name="input-price">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Discount</label>
                <input type="text" class="form-control" id="input-discount" name="input-discount">
            </div>
            <div class="text-left">
                <button class="btn btn-primary" id="btn-submit" type="submit">Add</button>
            </div>
            <p id="demo"></p>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/ujug8dr0hmmvp4fgdgm2uam16w1mov8slqh4y5ld7h7hgr6p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        $(function () {
            let classNames = ['active', 'bg-gradient-primary'];
            $('#nav-item-product').addClass(classNames);
            tinymce.init({
                selector: '#input-description'
            });
            $('#btn-submit').click(function (e) {
                e.preventDefault();
                addProduct(buildRequestModel(), () => {
                    window.location.href = '/admin/product';
                }, () => {
                    alert("Something when wrong");
                });
            });
            getAllCategories(categoriesResp => renderCategoryDropdown(categoriesResp));
            $("#product-form").validate({
                rules: {
                    "input-name": {
                        required: true,
                        minlength: 3,
                        maxlength: 100
                    },
                    "input-description": {
                        required: true,
                        minlength: 3,
                        maxlength: 300
                    },
                    "input-quantity": {
                        required: true,
                        number: true,
                        min: 1
                    },
                    "input-price": {
                        required: true,
                        number: true,
                        min: 0
                    },
                    "input-discount": {
                        required: true,
                        number: true,
                        min: 0
                    }
                },
                messages: {
                    "input-name": {
                        required: "Please enter Product name",
                        minlength: "Product Name must be at least 3 characters",
                        maxlength: "Product Name can't exceed 50 characters"
                    },
                    "input-description": {
                        required: "Please enter a description for Product",
                        minlength: "Product description must be at least 3 characters",
                        maxlength: "Product description should not exceed 300 characters"
                    },
                    "input-quantity": {
                        required: "Please enter a quantity for Product",
                        number: "Product's quantity must be a number",
                        min: "Product's quantity must be greater than or equal to 1"
                    }
                    "input-price": {
                        required: "Please enter a price for Product",
                        number: "Product's price must be a number",
                        min: "Product's price must greater than or equal to 0"
                    },
                    "input-discount": {
                        required: "Please enter a discount for Product",
                        number: "Product's discount must be a number",
                        min: "product's discount must be greater than or equal to 0"
                    }
                },
                errorElement: "em",
                errorPlacement: function(error, element) {
                    // Thêm class `invalid-feedback` cho field đang có lỗi
                    error.addClass("invalid-feedback");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                success: function(label, element) {},
                highlight: function(element, errorClass, validClass) {
                    $(element).addClass("is-invalid").removeClass("is-valid");
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).addClass("is-valid").removeClass("is-invalid");
                }
            });
        });
        function buildRequestModel() {
            let name = $("#input-name").val();
            let category = $('#input-category').val();
            let description = tinymce.activeEditor.getContent({ format: 'text' });
            let quantity = $("#input-quantity").val();
            let price = $("#input-price").val();
            let discount = $("#input-discount").val();

            return {
                productName: name,
                categoryId: category,
                description: description,
                quantity: quantity,
                price: price,
                discount: discount
            };
        }
    </script>
}