<h4 class="font-weight-bolder text-center">Add Product</h4>
<hr />
<form role="form">
    <div class="row justify-content-center">
        <div class="col-5 ">
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="input-name">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Category</label>
                <select class="form-select" aria-label="Default select example" id="input-category">
                    <option selected="selected">Select category</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="input-description">
            </div>
            <div class="input-group input-group-outline mb-3 is-filled">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" id="input-quantity" value="1" min="1">
            </div>
            <div class="input-group input-group-outline mb-3 is-filled">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" id="input-price" value="0" min="0">
            </div>
            <div class="input-group input-group-outline mb-3 is-filled">
                <label class="form-label">Discount</label>
                <input type="text" class="form-control" id="input-discount" value="0" min="0">
            </div>
            <div class="text-left">
                <a class="btn btn-primary" id="btn-submit">Add</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/ujug8dr0hmmvp4fgdgm2uam16w1mov8slqh4y5ld7h7hgr6p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $(function () {
            let classNames = ['active', 'bg-gradient-primary'];
            $('#nav-item-product').addClass(classNames);
            tinymce.init({
                selector: '#input-description'
            });
            $('#btn-submit').click(function (e) {
                e.preventDefault();
                addProduct(buildRequestModel(), () => {
                    window.location.href = '/admin/product';
                }, () => {
                    alert("Something when wrong");
                });
            });
            getAllCategories(categoriesResp => renderCategoryDropdown(categoriesResp.data));
        });

        function buildRequestModel() {
            let name = $("#input-name").val();
            let category = $('#input-category').val();
            let description = tinymce.activeEditor.getContent({ format: 'text' });
            let quantity = $("#input-quantity").val();
            let price = $("#input-price").val();
            let discount = $("#input-discount").val();

            return {
                productName: name,
                categoryId: category,
                description: description,
                quantity: quantity,
                price: price,
                discount: discount
            };
        }
    </script>
}