@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #c96;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #c96;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #c96;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.btn-hover:hover {
    background: #c96;
    color: #fff;
    border-color: #000
}

.text-custom {
    color: #b9257b;
}

.btn-block {
    border: 1px !important;
    border-color: #c96;
}

.btn-sign-up:hover {
    background-color: white;
    border-color: #8a0404;
    color: #8a0404
}


