@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
.gradient-custom-2 {
    /* fallback for old browsers */
    background: linear-gradient(59deg, rgba(253,214,255,1) 36%, rgba(124,226,250,1) 74%, rgba(107,232,252,1) 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(59deg, rgba(253,214,255,1) 36%, rgba(124,226,250,1) 74%, rgba(107,232,252,1) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(59deg, rgba(253,214,255,1) 36%, rgba(124,226,250,1) 74%, rgba(107,232,252,1) 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.btn-hover:hover {
    background: linear-gradient(59deg, rgba(253,214,255,1) 36%, rgba(124,226,250,1) 74%, rgba(107,232,252,1) 100%);
    color: #b9257b;
    border-color: #000
}

.text-custom {
    color: #b9257b;
}

