<div class="input-group input-group-outline mb-3">
    <select class="form-select" aria-label="Default select example" id="input-special">
        <option selected="selected" value="0">Select special</option>
        <option value="1">Quần áo</option>
        <option value="2">Thiết bị điện tử</option>
    </select>
</div>