<div class="input-group mb-3">
    <select class="form-select" id="input-special">
        <option selected="selected" value="0">Select special option</option>
        <option value="1">Không</option>
        <option value="2">Quần áo</option>
        <option value="3">Thiết bị điện tử</option>
    </select>
</div>