<<<<<<< HEAD
<<<<<<<< HEAD:GUI/Views/Home/Index.cshtml
﻿@{ ViewData["Title"] = "Home Page"; }
========
﻿
@{ ViewData["Title"] = "Home Page"; }
>>>>>>>> 4ba5647fc86b84de85a64f40e05f607dd45c80f7:ShopProductService/Views/Home/Index.cshtml
=======
﻿@{ ViewData["Title"] = "Home Page"; }
>>>>>>> 4ba5647fc86b84de85a64f40e05f607dd45c80f7

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>



