@*-----------------------------------------------------------------------------*@
@*Anh Gấu muốn test giao diện add thì thêm trên cái localhost /product/add
    Còn cái giao diện đẻ load product ra là /product/index*@
@*-----------------------------------------------------------------------------*@
<h4 class="font-weight-bolder text-center">Add Product</h4>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
<form role="form">
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Name</label>
        <input type="password" class="form-control">
    </div>
    <div class="input-group input-group-outline mb-3">
        <select class="form-select" aria-label="Default select example">
            <option selected="selected">Select category</option>
        </select>
    </div>
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Description</label>
        <input type="password" class="form-control">
    </div>
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Quantity</label>
        <input type="password" class="form-control">
    </div>
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Price</label>
        <input type="password" class="form-control">
    </div>
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Discount</label>
        <input type="password" class="form-control">
    </div>

    <div class="text-left">
        <button onclick="bootstrapAlert()" type='button' class="btn btn-primary" id="btnSubmit">Add</button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnSubmit').click(function () {

                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: "{product:" + JSON.stringify(product) + "}",
                    url: "http://localhost:44302/api/products",
                    success: function (data) {
                        alert("product name" + data);
                    },
                    error: function (result) {
                        alert("Something when wrong");
                    }
                });
            });

            $.get('http://localhost:44302/api/categories', {
                success: function (resp) {
                    var categories = resp.data;
                    var optionsHtml = '';
                    categories.forEach(category => {
                        optionsHtml += `<option value="${category.id}">${category.categoryName}</option>`;
                    });
                    if (optionsHtml != '') {
                        $('option[selected=selected]').after(optionsHtml);
                    }
                }
            });
        });

        function bootstrapAlert() {
            
            $.bootstrapGrowl("Submit Sucessfully !", {
                type: "success",
                offset: { from: "top", amount: 30 },
                align: "center",
                deplay: 5000,
                allow_dismiss: true,
                stackup_spacing: 10

            });
        }

    </script>
}