@*-----------------------------------------------------------------------------*@
@*Anh Gấu muốn test giao diện add thì thêm trên cái localhost /product/add
    Còn cái giao diện đẻ load product ra là /product/index*@
@*-----------------------------------------------------------------------------*@
<h4 class="font-weight-bolder text-center">Add Product</h4>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
<form role="form">

    <div class="row justify-content-center">
        <div class="col-5 ">
            <div class="input-group input-group-outline mb-3">
                <label class="form-label" id="Name">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="input-group input-group-outline mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected="selected">Select category</option>
                </select>
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label" id="Description">Description</label>
                <input type="text" class="form-control">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label" id="Quantity">Quantity</label>
                <input type="number" class="form-control">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label" id="Price">Price</label>
                <input type="number" class="form-control">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label" id="Discount">Discount</label>
                <input type="text" class="form-control">
            </div>
            <div class="text-left">
                <button onclick="bootstrapAlert()" type='submit' class="btn btn-primary" id="btnSubmit">Add</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            
            $('#btnSubmit').click(function () {

                var value1 = $("Name").val();
                var value2 = $("Description").val();
                var value3 = $("Quantity").val();
                var value4 = $("Price").val();
                var value5 = $("Discount").val(); 
                $.ajax( {
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: "{product:" + JSON.stringify(product) + "}",
                    url: "https://localhost:44349/api/products",
                    success: function (data) {
                        alert("product name" + data);
                    },
                    error: function (result) {
                        alert("Something when wrong");
                    }
                });
            });

            $.get('https://localhost:44349/api/categories', null, (resp) => {
                var categories = resp.data;
                var optionsHtml = '';
                categories.forEach(category => {
                    optionsHtml += `<option value="${category.id}">${category.categoryName}</option>`;
                });
                if (optionsHtml != '') {
                    $('option[selected=selected]').after(optionsHtml);
                }
            });
        });

        function bootstrapAlert() {
            
            $.bootstrapGrowl("Submit Sucessfully !", {
                type: "success",
                offset: { from: "top", amount: 30 },
                align: "center",
                deplay: 5000,
                allow_dismiss: true,
                stackup_spacing: 10

            });
        }

    </script>
}