<h4 class="font-weight-bolder text-center">Add Product</h4>
<form role="form">

    <div class="row justify-content-center">
        <div class="col-5 ">
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="input-name">
            </div>
            <div class="input-group input-group-outline mb-3">
                <select class="form-select" aria-label="Default select example" id="input-category">
                    <option selected="selected">Select category</option>
                </select>
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="input-description">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" id="input-quantity">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" id="input-price">
            </div>
            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Discount</label>
                <input type="text" class="form-control" id="input-discount">
            </div>
            <div class="text-left">
                <a class="btn btn-primary" id="btnSubmit">Add</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                
                var name = $("#iput-name").val();
                var category = $('#input-category').val();
                var description = $("#input-description").val();
                var quantity = $("#input-quantity").val();
                var price = $("#input-price").val();
                var discount = $("#input-discount").val();

                var requestModel = {
                    productName: name,
                    categoryId: category,
                    description: description,
                    quantity: quantity,
                    price: price,
                    discount: discount
                };

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestModel),
                    url: "https://localhost:44302/api/products",
                    success: function (data) {
                        alert("product name" + data);
                    },
                    error: function (result) {
                        alert("Something when wrong");
                    }
                });
            });

            $.get('https://localhost:44302/api/categories', null, (resp) => {
                var categories = resp.data;
                var optionsHtml = '';
                categories.forEach(category => {
                    optionsHtml += `<option value="${category.id}">${category.categoryName}</option>`;
                });
                if (optionsHtml != '') {
                    $('option[selected=selected]').after(optionsHtml);
                }
            });
        });

    </script>
}