<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Add</button>
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Products table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0"></div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" style="font-weight: bold"><</a></li>
        <li class="page-item"><a class="page-link" href="#" style="font-weight: bold">1</a></li>
        <li class="page-item"><a class="page-link" href="#" style="font-weight: bold">2</a></li>
        <li class="page-item"><a class="page-link" href="#" style="font-weight: bold">3</a></li>
        <li class="page-item"><a class="page-link" href="#" style="font-weight: bold">></a></li>
    </ul>
</nav>