<h4 class="font-weight-bolder text-center">Add Categories</h4>
<form id="form-modal" role="form">
    <div class="row justify-content-center">
        <div class="col-5 ">

            <div class="input-group input-group-outline mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="input-name">
            </div>
            @await Component.InvokeAsync("CategorySpecialDropdown")
            <div class="text-left">
                <a href="#" class="btn btn-primary" id="btn-submit">Add</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>

        $(function () {
            let classNames = ['active', 'bg-gradient-primary'];
            $('#nav-item-category').addClass(classNames);
            $('#btn-submit').click(function (e) {
                e.preventDefault();

                let name = $('#input-name').val();
                let special = $('#input-special').val();

                let category = { categoryName: name, special: special };
                addCategory(category, () => {
                    window.location.href = "/admin/category";
                }, () => alert("Something when wrong"));
            });
        });

    </script>
}