<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary" href="category/add">Add</a>
            </div>
            <div class="col-md-2 offset-md-5">
                @await Component.InvokeAsync("PageSizeSelectDropdown")
            </div>
            <div class="col-md-2">
                @await Component.InvokeAsync("SortOrderSelectDropdown")
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Categories table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0"></div>
            </div>
        </div>
    </div>
</div>
<div class="pagination"></div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="@Url.Content("~/assets/admin/js/internal/category.js")" type="text/javascript"></script>
}
