<form method="POST">
    @Html.AntiForgeryToken()
    <h6 style="font-family: Lora;">Confirm email</h6>
    <p style="font-family: Lora; background-color: #9cbe91; color: #fff; border-radius: 2px;">
        Thanks for your registration. But before you can sign in, your account must be verified. Check your email
    </p>
</form>