<div class="form-group mb-3">
    <label class="form-label">Category</label>
    <select class="form-select" aria-label="Default select example" id="input-category">
        <option selected="selected">Select category</option>
    </select>
</div>