<form method="POST">
    @Html.AntiForgeryToken()
    <p style="font-family: Lora;">Change password</p>
    <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" placeholder="Current Password" name="Password" value="@Model?.Password" />
        <label class="form-label" for="Password" style="font-family: Lora;">Current Password</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="new-password" class="form-control" placeholder="New Password" name="NewPassword" value="" />
        <label class="form-label" for="NewPassword" style="font-family: Lora;">New Password</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="confirm-password" class="form-control" placeholder="Password" name="ConfirmPassword" value="" />
        <label class="form-label" for="ConfirmPassword" style="font-family: Lora;">Confirm Password</label>
    </div>

    <div class="text-center pt-1 mb-3 pb-1">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Change Password</button>
    </div>
</form>