<form method="POST">
    @Html.AntiForgeryToken()
    <p style="font-family: Lora;">Change password</p>
    <div class="form-outline mb-4">
        <input type="password" id="input-password" class="form-control" placeholder="Password" name="Password" />
        <label class="form-label" for="input-password" style="font-family: Lora;">Password</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="input-new-password" class="form-control" placeholder="New password" name="NewPassword" />
        <label class="form-label" for="input-new-password" style="font-family: Lora;">New password</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="input-renew-password" class="form-control" placeholder="Renew Password" name="ReNewPassword" />
        <label class="form-label" for="input-renew-password" style="font-family: Lora;">Renew Password</label>
    </div>
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn-hover btn btn-outline-danger" type="submit">Change password</button>
    </div>
</form>