<form method="POST">
    @Html.AntiForgeryToken()
    <h6 style="font-family: Lora;">Reset email</h6>
    <p style="font-family: Lora; background-color: #dff0d8; color: #fff;">Please check your email and click on the provided link to reset your email</p>
    <div class="form-outline mb-4">
        <input type="email" id="input-email" class="form-control" placeholder="email" name="email" />
        <label class="form-label" for="input-email" style="font-family: Lora;">email</label>
    </div>
    <div>   
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="d-flex align-items-center justify-content-center pb-4">
        <a class="btn-hover btn btn-outline-danger" href="/auth/#">Reset Password</a>
    </div>
</form>

